*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
}

.blue-btn{
    background-color: #0061ff;
    color: white;
    padding: 7px 14px;
}

/* --------- inizio header -------- */

header{
    width: 100%;
    height: 80px;
    justify-content: space-between;
    font-size: 14px;
    /* background-color: red; */
}

.header-left{
    /* width: 30%;  */
    height: 100%;
    /* background-color: green; */
}

.header-right{
    /* width: 30%; */
    height: 100%;
    /* background-color: blue; */
}

header a{
    /* width: 25%;  */
    height: 100%;
    text-decoration: none;
    color: black;
}

.header-right a{
    /* width: 25%; */
    height: 100%;
}

header .box{
    height: 100%;
    padding: 0 20px;
    align-items: center;
}



/* --------- fine header -------- */



/* ---------- inizio main ----------- */

/* inizio jumbotron */
main .jumbotron-container{
    width: 100%;
    height: 720px;
    justify-content: center;
    align-items: flex-end;
    background-color: lightblue;
}

.jumbotron-center{
    width: 60%;
    height: 90%;
}

.jumbotron-center .title{
    height: 30%;
    /* background-color: brown; */
}

.jumbotron-center h1{
    font-size: 4.8em;
    font-weight: 800;
}

.jumbotron-center .content{
    height: 70%;
    padding-top: 20px;
}

.jumbotron-center .content .start-trial{
    width: 35%;
    height: 100%;
    /* background-color: blanchedalmond; */
}

.jumbotron-center .content .jumbotron-img{
    width: 65%;
    height: 100%;
    /* background-color: darkkhaki; */
}

.jumbotron-center .jumbotron-img img, .jumbotron-center .start-trial{
    margin-top: 50px;
}

.jumbotron-center .blue-btn{
    display: inline-block;
    margin: 30px 0;
}

.jumbotron-center .start-trial i{
    font-size: 50px;
    margin-top: 80px;
}
/* fine jumbotron */


/* inizio main centrale */
main .container{
    width: 50%;
    margin: auto;
    margin-top: 200px;
    /* background-color: lightblue; */
} 

main .container .radio-options{
    margin: 50px 0;
}

main .business-plans{
    width: 100%;
    justify-content: space-between;
    /* background-color: orange; */
}

main .business-plans .card-plan{
    width: 30%;
    height: 800px;
    border: 5px solid black;
}

main .card-plan .card-top{
    width: 100%;
    height: 50px;
    border: 2px solid black;
}

main .card-plan .card-info{
    width: 85%;
    height: 500px;
    border: 2px solid black;
    margin: 50px auto;
}

main .personal-plan{
    width: 100%;
    height: 300px;
    margin-top: 50px;
    border: 3px solid black;
}

main .personal-plan-top{
    width: 100%;
    height: 20%;
    border: 2px solid black;
}

main .personal-plan-info{
    width: 90%;
    height: 70%;
    border: 2px solid black;
    margin: auto;
    margin-top: 15px;
}

main .partner-finder{
    width: 100%;
    height: 450px;
    margin: 170px 0;
    border: 3px solid black;
}

main .partner-finder .sx{
    width: 60%;
    height: 100%;
    border: 2px solid black;
}

main .partner-finder .dx{
    width: 40%;
    height: 100%;
    border: 2px solid black;
}

main .operations{
    width: 100%;
    margin-bottom: 170px;
    border: 3px solid black;
}

main .operations .column{
    width: 100%;
    height: 450px;
    justify-content: space-between;
    margin-top: 30px;
    border: 2px solid black;
}

main .operations .operation{
    width: 30%;
    height: 100%;
    border: 2px solid black;
}

main .clients-link{
    width: 60%;
    height: 180px;
    margin-bottom: 150px;
    border: 3px solid black;
}
/* fine main centrale */



/* inizio parte sponsor */
main .sponsor-container{
    width: 100%;
    height: 640px;
    /* background-color: red; */
}

main .sponsor-container .box{
    width: calc(100% / 3);
    height: 100%;
    border: 2px solid black;
    flex-wrap: wrap;
}

main .sponsor-container .box .sponsor{
    width: calc(100% / 2);
    height: calc(100% / 2);
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

main .sponsor-container .sponsor-center{
    width: 80%;
    height: 60%;
    border: 2px solid black;
    margin: 50px auto 0;
}

.sponsor.one{
    background-color: #a2d39b;
}

.sponsor.two{
    background-color: #61082b;
}

.sponsor.three{
    background-color: #0093ce;
}

.sponsor.four{
    background-color: #ff1c1c;
}

.sponsor.five{
    background-color: #d5001f;
}

.sponsor.six{
    background-color: #b4d0e7;
}

.sponsor.seven{
    background-color: #0d2481;
}

.sponsor.eight{
    background-color: #ffd830;
}

/* fine parte sponsor */



/* inizio parte finale main */

main .free-trial{
    width: 100%;
    height: 300px;
    background-color: aqua;
    margin-bottom: 150px;
}

main .questions{
    width: 50%;
    height: 480px;
    margin: 0 auto 150px;
    background-color: #a2d39b;
    border: 2px solid black;
}

/* fine parte finale main */



/* ----------- inizio footer --------- */
footer{
    height: 600px;
    padding-top: 100px;
    background-color: black;
}

.footer-container{
    width: 60%;
    height: 60%;
    margin: auto;
    border: 2px solid white;
}

.footer-container .info{
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin-bottom: 100px;
}

.footer-container .box{
    width: 18%;
    height: 100%;
    border: 2px solid white;
}

.footer-container hr{
    width: 12%;
}

footer select{
    border: none;
    color: lightgray;
    font-size: 18px;
    background-color: black;
    margin: 35px 0;
}

/* ----------- fine footer --------- */
