*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}



/* --------- inizio header -------- */

header{
    width: 100%;
    height: 100px;
    justify-content: space-between;
    background-color: red;
}

.header-left{
    width: 30%;
    height: 100%;
    background-color: green;
}

.header-right{
    width: 30%;
    height: 100%;
    background-color: blue;
}

.header-left a{
    width: 25%;
    height: 100%;
    border: 2px solid black;
}

.header-right a{
    width: 25%;
    height: 100%;
    border: 2px solid black;
}

/* --------- fine header -------- */



/* ---------- inizio main ----------- */

/* inizio jumbotron */
main .jumbotron-container{
    width: 100%;
    height: 800px;
    justify-content: center;
    align-items: flex-end;
    background-color: lightblue;
}

.jumbotron-center{
    width: 60%;
    height: 90%;
}

.jumbotron-center .title{
    height: 30%;
    background-color: brown;
}

.jumbotron-center .content{
    height: 70%;
    padding-top: 50px;
}

.jumbotron-center .content .sx{
    width: 35%;
    height: 100%;
    background-color: blanchedalmond;
}

.jumbotron-center .content .dx{
    width: 65%;
    height: 100%;
    background-color: darkkhaki;
}

.jumbotron-center .dx img{
    margin-top: 80px;
}
/* fine jumbotron */


/* inizio main centrale */
main .container{
    width: 50%;
    margin: auto;
    margin-top: 200px;
    /* background-color: lightblue; */
} 

main .container .radio-options{
    margin: 50px 0;
}

main .business-plans{
    width: 100%;
    justify-content: space-between;
    /* background-color: orange; */
}

main .business-plans .card-plan{
    width: 30%;
    height: 800px;
    border: 5px solid black;
}

main .card-plan .card-top{
    width: 100%;
    height: 50px;
    border: 2px solid black;
}

main .card-plan .card-info{
    width: 85%;
    height: 500px;
    border: 2px solid black;
    margin: 50px auto;
}

main .personal-plan{
    width: 100%;
    height: 300px;
    margin-top: 50px;
    border: 3px solid black;
}

main .personal-plan-top{
    width: 100%;
    height: 20%;
    border: 2px solid black;
}

main .personal-plan-info{
    width: 90%;
    height: 70%;
    border: 2px solid black;
    margin: auto;
    margin-top: 15px;
}

main .partner-finder{
    width: 100%;
    height: 450px;
    margin: 170px 0;
    border: 3px solid black;
}

main .partner-finder .sx{
    width: 60%;
    height: 100%;
    border: 2px solid black;
}

main .partner-finder .dx{
    width: 40%;
    height: 100%;
    border: 2px solid black;
}

main .operations{
    width: 100%;
    margin-bottom: 170px;
    border: 3px solid black;
}

main .operations .column{
    width: 100%;
    height: 450px;
    justify-content: space-between;
    margin-top: 30px;
    border: 2px solid black;
}

main .operations .operation{
    width: 30%;
    height: 100%;
    border: 2px solid black;
}

main .clients-link{
    width: 60%;
    height: 180px;
    margin-bottom: 150px;
    border: 3px solid black;
}