*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth; 
}

/* utility */

.flex{
    display: flex;
}

.blue-btn{
    background-color: #0061ff;
    color: white;
    transition: background-color 0.5s;
}

.blue-btn:hover{
    background-color: #307ffd;
}

.h-100{
    height: 100%;
}

.w-100{
    width: 100%;
}

.fnt-14{
    font-size: 14px;
}

a{
    text-decoration: none;
}

.blue{
    color: #0061ff;
}

/* --------- inizio header -------- */
header{
    height: 80px;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header a{
    height: 100%;
    color: black;
}

.header-right .blue-btn{
    padding: 8px 18px;
}

header .box{
    height: 100%;
    padding: 0 20px;
    align-items: center;
    position: relative;
}

header a div:not(.logo):hover::after{
    content: "";
    position: absolute;
    width: 100%;
    background-color: black;
    height: 2px;
    bottom: 0;
    left: 0;
}
/* --------- fine header -------- */


/* ---------- inizio main ----------- */

/* inizio jumbotron */
main .jumbotron-container{
    height: 800px;
    justify-content: center;
    align-items: flex-end;
    padding-top: 90px;
    background-color: #b4d0e7;
}

.jumbotron-center{
    width: 60%;
    height: 90%;
}

.jumbotron-center h1{
    font-size: 4.8em;
    font-weight: 800;
}

.jumbotron-center .content{
    height: 65%;
    padding-top: 30px;
}

.jumbotron-center .content .start-trial{
    width: 35%;
}

.jumbotron-center .start-trial .blue-btn{
    padding: 10px 20px;
}

.jumbotron-center .content .jumbotron-img{
    width: 65%;
}

.jumbotron-center .jumbotron-img img, .jumbotron-center .start-trial{
    position: relative;
    top: 20px;
}

.jumbotron-center .blue-btn{
    display: inline-block;
    margin: 30px 0;
}

.jumbotron-center .start-trial i{
    font-size: 50px;
    position: relative;
    top: 75px;
    color: black;
}
/* fine jumbotron */


/* inizio main centrale */
main .container{
    width: 50%;
    margin: auto;
    margin-top: 200px;
} 

main .container > h1{
    font-size: 2.7em;
}

main .container .radio-options{
    margin: 50px 0;
}

main .radio-options div{
    margin-right: 50px;
    display: inline-block;
}

main .radio-options div:first-child i{
    color: #0061ff; 
    font-size: 20px;
    padding-right: 5px;
    position: relative;
    top: 2px;
}

main .radio-options div:last-child i{
    color: lightgrey;
    font-size: 20px;
    padding-right: 5px;
    position: relative;
    top: 2px;
}

main .business-plans{
    justify-content: space-between;
}

main .business-plans .card-plan{
    width: 30%;
    border: 1px solid lightgrey;
}

main .card-plan .card-top{
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

main .card-top i{
    padding-right: 6px;
}

main .card-plan .card-info{
    width: 85%;
    margin: 30px auto;
    padding: 0 7px;
}

main .card-plan .card-info a .blue-btn{
    padding: 10px 15px;
}

main .card-info .price, main .card-info .per-month{
    display: block;
}

main .card-info .price{
    padding-top: 10px;
}

main .card-info .per-month{
    padding-top: 5px;
    color: gray;
}

main .card-info .datas{
    padding: 40px 0;
}

main .datas div{
    padding: 20px 0 0 14px;
    font-size: 14px;
    text-indent: -8px;
}

main .card-info .blue-btn{
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 12px 0;
}

main .card-info .link-to-buy{
    padding: 25px 0;
    font-size: 14px;
}

main .card-info .link-to-buy a{
    text-decoration: underline;
}

main .card-info hr{
    width: 25%;
    height: 1px;
    background-color: lightgray;
    border: none;
}

main .card-info h5{
    padding: 40px 0 10px;
}

main .card-info .salient-point{
    padding: 15px 0 0 12px;
    font-size: 14px;
    text-indent: -8px;
}

main .salient-point i{
    color: #0061ff;
}

main .personal-plan{
    height: 270px;
    margin-top: 50px;
    border: 2px solid lightgrey;
}

main .personal-plan-top{
    height: 15%;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid lightgrey;
}

main .personal-plan-top i{
    padding-right: 6px;
}

main .personal-plan-info{
    width: 95%;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
}

main .personal-plan-info .sx{
    width: 65%;
}

main .personal-plan-info .dx{
    width: 27%;
}

main .personal-plan-info .sx .contact{
    display: inline-block;
    padding: 15px 0 60px;
} 

main .personal-plan-info .dx .blue-btn{
    display: inline-block;
    padding: 10px 20px;
    top: 0;
    right: 0;
}

main .personal-plan-info .dx a{
    text-align: center;
}

main .partner-finder{
    height: 500px; 
    margin: 170px 0;
}

main .partner-finder .sx{
    width: 60%;
}

main .partner-finder .dx{
    width: 40%;
    padding: 50px 0 0 50px;
}

main .partner-finder .dx .white-btn{
    border: 1px solid black; 
    padding: 10px 15px;
}

main .partner-finder .dx a{
    color: black;
}

main .partner-finder .dx p{
    padding: 15px 0 50px;
}

main .operations{
    margin-bottom: 170px;
}

main .operations .column{
    justify-content: space-between;
    margin-top: 50px;
}

main .operations .operation{
    width: 30%;
    height: 100%;
}

main .operations h1{
    font-size: 2.3em;
}

main .operations p{
    padding-top: 30px;
    font-size: 14px;
}

main .clients-link{
    width: 60%;
    height: 200px;
    margin-bottom: 150px;
}

main .clients-link h1{
    font-size: 2.2em;
    padding-bottom: 70px;
}

main .clients-link a{
    text-decoration: underline;
}
/* fine main centrale */


/* inizio parte sponsor */
main .sponsor-container{
    height: 640px;
}

main .sponsor-container .box{
    width: calc(100% / 3);
    height: 100%;
    flex-wrap: wrap;
}

main .sponsor-container .box .sponsor-square{
    width: calc(100% / 2);
    height: calc(100% / 2);
    justify-content: center;
    align-items: center;
}

main .sponsor-container .box.center{
    background-color: #f5f5f5;
} 

main .sponsor-container .sponsor-center{
    width: 80%;
    height: 60%;
    margin: 50px auto 0;
}

main .sponsor-container .sponsor-center hr{
    width: 20%;
    height: 2px;
    background-color: lightgray;
    border: none;
    margin: 40px 0;
} 

main .sponsor-square img{
    filter: brightness(0) invert(1);
}

.sponsor-square.one{
    background-color: #a2d39b;
    border: 15px solid rgba(255, 255, 255, 0.5);
}

.sponsor-square.two{
    background-color: #61082b;
}

.sponsor-square.three{
    background-color: #0093ce;
}

.sponsor-square.four{
    background-color: #ff1c1c;
}

.sponsor-square.five{
    background-color: #d5001f;
}

.sponsor-square.six{
    background-color: #b4d0e7;
}

.sponsor-square.seven{
    background-color: #0d2481;
}

.sponsor-square.eight{
    background-color: #ffd830;
}
/* fine parte sponsor */


/* inizio parte finale main */
main .free-trial{
    height: 300px;
    background-color: #b4d0e7;
    margin-bottom: 150px;
    justify-content: center;
    align-items: center;
}

main .free-trial-center{
    width: 50%;
    height: 100px;
    justify-content: space-between;
}

main .free-trial-center .sx{
    width: 50%;
}

main .free-trial-center .dx{
    width: 28%;
}

main .free-trial-center .sx h1{
    font-size: 2.4em;
    color: #610525;
}

main .free-trial-center .white-btn{
    display: inline-block;
    color: black;
    border: 1px solid #b4d0e7;
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 10px 15px;
    margin-top: 10px;
}

main .questions{
    width: 50%;
    margin: 0 auto 170px;
}

main .questions h1{
    font-size: 2.4em;
    padding-bottom: 50px;
}

main .questions hr{
    height: 1px;
    background-color: gray;
    border: none;
} 

main .questions .question{
    padding: 40px 0;
    position: relative;
}

main .questions .question .angle-down{
    position: absolute;
    left: 900px;
}

main .questions .question .angle-up{
    position: absolute;
    left: 900px;
    visibility: hidden;
}

main .questions .question:hover .angle-down{
    visibility: hidden;
}

main .questions .question:hover .angle-up{
    visibility: visible;
}

main .question p{
    padding-top: 30px;
    display: none;
}

main .questions .question:hover p{
    display: block;
}
/* fine parte finale main */

/* ------------ fine main ----------- */


/* ----------- inizio footer --------- */
footer{
    height: 500px;
    padding-top: 80px;
    background-color: black;
}

.footer-container{
    width: 60%;
    height: 60%; 
    margin: auto;
}

.footer-container .info{
    justify-content: space-between;
}

.footer-container .box{
    width: 18%;
    height: 100%;
}

.footer-container .info .box, .footer-container .box a{
    color: white;
}

.footer-container .info .box h2{
    padding-bottom: 25px;
}

.footer-container .box a li{
    padding: 7px 0;
    list-style-type: none;
}

.footer-container .box a li:hover{
    text-decoration: underline;
}

.footer-container hr, .footer-container .select{
    margin-top: 70px;
} 

.footer-container hr{
    width: 10%;
    border: none;
    height: 1.5px;
    background-color: grey;
}

footer .language{
    border: none;
    color: gray;
    background-color: black;
    margin: 35px 0;
}

footer .language i{
    padding-right: 3px;
} 
/* ----------- fine footer --------- */
